In [2]:
import requests
r = requests.get('https://mgmgrand.mgmresorts.com/en/hotel.html')

In [3]:
# print the first 500 characters of the HTML

print(r.text[0:500])

<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<script charset='UTF-8'>window['adrum-start-time']=new Date().getTime();(function(config){config.appKey='AD-AAB-AAT-GTT';config.adrumExtUrlHttp='http://cdn.appdynamics.com';config.adrumExtUrlHttps='https://cdn.appdynamics.com';config.beaconUrlHttp='http://col.eum-appdynamics.com';config.beaconUrlHttps='https://col.eum-appdynamics.com';config.xd={enable:false};})(window['adrum-config']||(

In [4]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(r.text, 'html.parser')

In [5]:
results_a = soup.find_all('a', attrs={'class':'Card__title'})    # Anchor tag data reading
results_div = soup.find_all('div', attrs={'class':'Card__key-values'})    # Division tag data reading
results_RoomDescription=soup.find_all('div', attrs={'class':'Card__description'})    # RoomDescription data reading

In [6]:
len(results_a)

27

In [7]:
len(results_div)

23

In [8]:
len(results_RoomDescription)

27

In [10]:
results_a[0:-1]

[<a aria-label="View Room Details West Wing King" class="Card__title" href="/en/hotel/west-wing-king.html" id="roomoverviewcardcoll__card-west-wing-king__title">West Wing King</a>,
 <a aria-label="View Room Details Grand King" class="Card__title" href="/en/hotel/grand-king.html" id="roomoverviewcardcoll__card-grand-king__title">Grand King</a>,
 <a aria-label="View Room Details Grand Two Queen " class="Card__title" href="/en/hotel/grand-queen.html" id="roomoverviewcardcoll__card-grand-two-queen__title">Grand Two Queen </a>,
 <a aria-label="View Room Details Grand King Strip View" class="Card__title" href="/en/hotel/grand-king-strip-view.html" id="roomoverviewcardcoll__card-grand-king-strip-view__title">Grand King Strip View</a>,
 <a aria-label="View Room Details Grand Two Queen Strip View" class="Card__title" href="/en/hotel/grand-queen-strip-view.html" id="roomoverviewcardcoll__card-grand-two-queen-strip-view__title">Grand Two Queen Strip View</a>,
 <a aria-label="View Room Details Stay Well Grand King" class="Card__title" href="/en/hotel/stay-well-grand-king.html" id="roomoverviewcardcoll_2045244886__card-stay-well-grand-king__title">Stay Well Grand King</a>,
 <a aria-label="View Room Details Stay Well Grand Two Queen" class="Card__title" href="/en/hotel/stay-well-grand-queen.html" id="roomoverviewcardcoll_2045244886__card-stay-well-grand-two-queen__title">Stay Well Grand Two Queen</a>,
 <a aria-label="View Room Details Stay Well Executive King Suite" class="Card__title" href="/en/hotel/stay-well-executive-king-suite.html" id="roomoverviewcardcoll_2045244886__card-stay-well-executive-king-suite__title">Stay Well Executive King Suite</a>,
 <a aria-label="View Room Details Stay Well Executive Two Queen Suite" class="Card__title" href="/en/hotel/stay-well-executive-queen-suite.html" id="roomoverviewcardcoll_2045244886__card-stay-well-executive-two-queen-suite__title">Stay Well Executive Two Queen Suite</a>,
 <a aria-label="View Room Details Stay Well Tower Spa Suite" class="Card__title" href="/en/hotel/stay-well-tower-spa-suite.html" id="roomoverviewcardcoll_2045244886__card-stay-well-tower-spa-suite__title">Stay Well Tower Spa Suite</a>,
 <a aria-label="View Room Details Stay Well Patio Suite" class="Card__title" href="/en/hotel/stay-well-patio-suite.html" id="roomoverviewcardcoll_2045244886__card-stay-well-patio-suite__title">Stay Well Patio Suite</a>,
 <a aria-label="View Room Details 2 Bedroom Stay Well Marquee Suite" class="Card__title" href="/en/hotel/two-bedroom-stay-well-marquee-suite.html" id="roomoverviewcardcoll_2045244886__card-2-bedroom-stay-well-marquee-suite__title">2 Bedroom Stay Well Marquee Suite</a>,
 <a aria-label="View Room Details Executive King Suite" class="Card__title" href="/en/hotel/executive-king-suite.html" id="roomoverviewcardcoll_1402667275__card-executive-king-suite__title">Executive King Suite</a>,
 <a aria-label="View Room Details Executive Two Queen Suite" class="Card__title" href="/en/hotel/executive-queen-suite.html" id="roomoverviewcardcoll_1402667275__card-executive-two-queen-suite__title">Executive Two Queen Suite</a>,
 <a aria-label="View Room Details Tower Spa Suite" class="Card__title" href="/en/hotel/tower-spa-suite.html" id="roomoverviewcardcoll_1402667275__card-tower-spa-suite__title">Tower Spa Suite</a>,
 <a aria-label="View Room Details Tower One-Bedroom Suite" class="Card__title" href="/en/hotel/tower-one-bedroom-suite.html" id="roomoverviewcardcoll_1402667275__card-tower-one-bedroom-suite__title">Tower One-Bedroom Suite</a>,
 <a aria-label="View Room Details City View Suite" class="Card__title" href="/en/hotel/city-view-suite.html" id="roomoverviewcardcoll_1402667275__card-city-view-suite__title">City View Suite</a>,
 <a aria-label="View Room Details Penthouse City View Suite" class="Card__title" href="/en/hotel/penthouse-city-view-suite.html" id="roomoverviewcardcoll_1402667275__card-penthouse-city-view-suite__title">Penthouse City View Suite</a>,
 <a aria-label="View Room Details Skyline Terrace Suite" class="Card__title" href="/en/hotel/skyline-terrace-suite.html" id="roomoverviewcardcoll_1402667275__card-skyline-terrace-suite__title">Skyline Terrace Suite</a>,
 <a aria-label="View Room Details 2 Bedroom Marquee Suite" class="Card__title" href="/en/hotel/two-bedroom-marquee-suite.html" id="roomoverviewcardcoll_1402667275__card-2-bedroom-marquee-suite__title">2 Bedroom Marquee Suite</a>,
 <a aria-label="View Room Details SKYLOFTS One Bedroom Loft" class="Card__title" href="/en/hotel/skylofts-one-bedroom-loft.html" id="roomoverviewcardcoll_198118956__card-skylofts-one-bedroom-loft__title">SKYLOFTS One Bedroom Loft</a>,
 <a aria-label="View Room Details SKYLOFTS Two Bedroom Loft" class="Card__title" href="/en/hotel/skylofts-two-bedroom-loft.html" id="roomoverviewcardcoll_198118956__card-skylofts-two-bedroom-loft__title">SKYLOFTS Two Bedroom Loft</a>,
 <a aria-label="View Room Details SKYLOFTS Three Bedroom Loft" class="Card__title" href="/en/hotel/skylofts-three-bedroom-loft.html" id="roomoverviewcardcoll_198118956__card-skylofts-three-bedroom-loft__title">SKYLOFTS Three Bedroom Loft</a>,
 <a aria-label="Learn more Stay Longer, Save More" class="Card__title" href="/en/offers/offer-detail.html#/offerType=ROOM&amp;offerId=b68ad070-69e5-443f-959d-8d1e0455b5cf&amp;programType=OpenLoop" id="promocardrow__card-stay-longer-save-more__title">Stay Longer, Save More</a>,
 <a aria-label="Learn more Daily F&amp;B Credit" class="Card__title" href="/en/offers/offer-detail.html#/offerType=ROOM&amp;offerId=baf43391-94d6-4ee9-9d25-55fe7cb6d862&amp;programType=OpenLoop" id="promocardrow__card-daily-fb-credit__title">Daily F&amp;B Credit</a>,
 <a aria-label="Learn more AAA Member Discount" class="Card__title" href="/en/offers/offer-detail.html#/offerType=ROOM&amp;offerId=1b143e7a-27af-4666-9aa4-6e13fcd8e049&amp;programType=OpenLoop" id="promocardrow__card-aaa-member-discount__title">AAA Member Discount</a>]

In [11]:
results_a[0]

In [12]:
results_div[0]

In [13]:
results_RoomDescription[0]

<div class="Card__description" id="roomoverviewcardcoll__card-west-wing-king__description">The West Wing King is just steps away from Hakkasan Nightclub and Las Vegas Boulevard.
</div>

## Anchor Tag Data

In [14]:
first_result = results_a[0]
first_result

In [15]:
first_result.find('a')
first_result

In [16]:
first_result.contents[-1]

'West Wing King'

In [17]:
records = []
for result in results_a:
    RoomType = result.contents[-1]
    records.append(RoomType)

In [18]:
len(records)

27

In [19]:
records[0:3]

['West Wing King', 'Grand King', 'Grand Two Queen ']

In [20]:
import pandas as pd
df1 = pd.DataFrame(records, columns=['RoomType'])

In [21]:
df1.head(10)

                              RoomType
0                       West Wing King
1                           Grand King
2                     Grand Two Queen
3                Grand King Strip View
4           Grand Two Queen Strip View
5                 Stay Well Grand King
6            Stay Well Grand Two Queen
7       Stay Well Executive King Suite
8  Stay Well Executive Two Queen Suite
9            Stay Well Tower Spa Suite

In [22]:
df1.tail(10)

                       RoomType
17    Penthouse City View Suite
18        Skyline Terrace Suite
19      2 Bedroom Marquee Suite
20    SKYLOFTS One Bedroom Loft
21    SKYLOFTS Two Bedroom Loft
22  SKYLOFTS Three Bedroom Loft
23       Stay Longer, Save More
24             Daily F&B Credit
25          AAA Member Discount
26         M life Flexible Rate

## Div- Tag Data

In [23]:
div_first_result = results_div[0]
div_first_result

In [24]:
## Extracting SQUARE FEET

div_first_result.find('div')

In [25]:
div_first_result.find('div').text

'350 sq. ft'

## Building the dataset

In [26]:
records = []
for result in results_div:
    SquareFeet = result.find('div').text
    BedType = result.contents[1]
    Guests = result.contents[2]
    records.append((SquareFeet, BedType, Guests))

In [27]:
len(records)

23

In [28]:
records[0:3]

[('350 sq. ft',
  <div class="Card__key-value">1 King Bed</div>,
  <div class="Card__key-value">Max Guest 2</div>),
 ('446 sq. ft',
  <div class="Card__key-value">1 King Bed</div>,
  <div class="Card__key-value">Max Guest 3</div>),
 ('446 sq. ft',
  <div class="Card__key-value">2 Queen Beds</div>,
  <div class="Card__key-value">Max Guest 4</div>)]

In [29]:
df2 = pd.DataFrame(records, columns=['SquareFeet', 'BedType', 'Guests'])

In [30]:
df2.head()

   SquareFeet         BedType         Guests
0  350 sq. ft    [1 King Bed]  [Max Guest 2]
1  446 sq. ft    [1 King Bed]  [Max Guest 3]
2  446 sq. ft  [2 Queen Beds]  [Max Guest 4]
3  446 sq. ft    [1 King Bed]  [Max Guest 3]
4  446 sq. ft  [2 Queen Beds]  [Max Guest 4]

In [31]:
df2.tail()

     SquareFeet                         BedType         Guests
18  1300 sq. ft                    [1 King Bed]  [Max Guest 2]
19  1500 sq. ft                   [2 King Beds]  [Max Guest 4]
20  1400 sq. ft                    [1 King Bed]  [Max Guest 3]
21  3000 sq. ft   [1 King Bed and 2 Queen Beds]  [Max Guest 7]
22  6000 sq. ft  [2 King Beds and 2 Queen Beds]  [Max Guest 9]

## Room Description

In [32]:
Room_first_result=results_RoomDescription[0]
Room_first_result

<div class="Card__description" id="roomoverviewcardcoll__card-west-wing-king__description">The West Wing King is just steps away from Hakkasan Nightclub and Las Vegas Boulevard.
</div>

In [33]:
results_RoomDescription[0:3]

[<div class="Card__description" id="roomoverviewcardcoll__card-west-wing-king__description">The West Wing King is just steps away from Hakkasan Nightclub and Las Vegas Boulevard.
 </div>,
 <div class="Card__description" id="roomoverviewcardcoll__card-grand-king__description">The stylishly chic Grand King has all the amenities you need to recharge for the next phase of the party.
 </div>,
 <div class="Card__description" id="roomoverviewcardcoll__card-grand-two-queen__description">Vegas never stops. But when you need to pause, this room is a destination all its own.
 </div>]

In [34]:
records = []
for result in results_RoomDescription:
    RoomDescription = result.contents[-1]
    records.append(RoomDescription)

In [35]:
len(records)

27

In [36]:
records[0:3]

['The West Wing King is just steps away from Hakkasan Nightclub and Las Vegas Boulevard.\n',
 'The stylishly chic Grand King has all the amenities you need to recharge for the next phase of the party.\n',
 'Vegas never stops. But when you need to pause, this room is a destination all its own.\n']

In [37]:
import pandas as pd
df3 = pd.DataFrame(records, columns=['RoomDescription'])

In [38]:
df3.head()

                                     RoomDescription
0  The West Wing King is just steps away from Hak...
1  The stylishly chic Grand King has all the amen...
2  Vegas never stops. But when you need to pause,...
3  The stylishly chic Grand King has all the amen...
4  Vegas never stops. But when you need to pause,...

In [39]:
df3.tail()

                                      RoomDescription
22  A three-bedroom, three and a half bath loft wi...
23    Save up to 25% off a 4-night stay at MGM Grand.
24  Treat yourself with $50 in food and beverage c...
25                                Save up to 10% off.
26  Up to an additional 20% off, exclusive to M li...

In [40]:
final_result = pd.concat([df1, df2,df3], axis=1)

In [41]:
final_result.shape

(27, 5)

In [42]:
final_result.head()

,RoomType,SquareFeet,BedType,Guests,RoomDescription
0,West Wing King,350 sq. ft,[1 King Bed],[Max Guest 2],The West Wing King is just steps away from Hak...
1,Grand King,446 sq. ft,[1 King Bed],[Max Guest 3],The stylishly chic Grand King has all the amen...
2,Grand Two Queen,446 sq. ft,[2 Queen Beds],[Max Guest 4],"Vegas never stops. But when you need to pause,..."
3,Grand King Strip View,446 sq. ft,[1 King Bed],[Max Guest 3],The stylishly chic Grand King has all the amen...
4,Grand Two Queen Strip View,446 sq. ft,[2 Queen Beds],[Max Guest 4],"Vegas never stops. But when you need to pause,..."

In [43]:
final_result.tail()

,RoomType,SquareFeet,BedType,Guests,RoomDescription
22,SKYLOFTS Three Bedroom Loft,6000 sq. ft,[2 King Beds and 2 Queen Beds],[Max Guest 9],"A three-bedroom, three and a half bath loft wi..."
23,"Stay Longer, Save More",NaN,NaN,NaN,Save up to 25% off a 4-night stay at MGM Grand.
24,Daily F&B Credit,NaN,NaN,NaN,Treat yourself with $50 in food and beverage c...
25,AAA Member Discount,NaN,NaN,NaN,Save up to 10% off.
26,M life Flexible Rate,NaN,NaN,NaN,"Up to an additional 20% off, exclusive to M li..."

In [44]:
filtered_data=final_result[~final_result['SquareFeet'].isnull()]

In [45]:
filtered_data.head()

,RoomType,SquareFeet,BedType,Guests,RoomDescription
0,West Wing King,350 sq. ft,[1 King Bed],[Max Guest 2],The West Wing King is just steps away from Hak...
1,Grand King,446 sq. ft,[1 King Bed],[Max Guest 3],The stylishly chic Grand King has all the amen...
2,Grand Two Queen,446 sq. ft,[2 Queen Beds],[Max Guest 4],"Vegas never stops. But when you need to pause,..."
3,Grand King Strip View,446 sq. ft,[1 King Bed],[Max Guest 3],The stylishly chic Grand King has all the amen...
4,Grand Two Queen Strip View,446 sq. ft,[2 Queen Beds],[Max Guest 4],"Vegas never stops. But when you need to pause,..."

In [46]:
filtered_data.tail()

,RoomType,SquareFeet,BedType,Guests,RoomDescription
18,Skyline Terrace Suite,1300 sq. ft,[1 King Bed],[Max Guest 2],With expansive views from your private terrace...
19,2 Bedroom Marquee Suite,1500 sq. ft,[2 King Beds],[Max Guest 4],"With dramatic floor-to-ceiling windows, this t..."
20,SKYLOFTS One Bedroom Loft,1400 sq. ft,[1 King Bed],[Max Guest 3],Experience unparalleled luxury and personalize...
21,SKYLOFTS Two Bedroom Loft,3000 sq. ft,[1 King Bed and 2 Queen Beds],[Max Guest 7],"Two bedroom, two bathroom loft with a den, liv..."
22,SKYLOFTS Three Bedroom Loft,6000 sq. ft,[2 King Beds and 2 Queen Beds],[Max Guest 9],"A three-bedroom, three and a half bath loft wi..."

In [59]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 5 columns):
RoomType           23 non-null object
SquareFeet         23 non-null int32
BedType            23 non-null object
Guests             23 non-null object
RoomDescription    23 non-null object
dtypes: int32(1), object(4)
memory usage: 1012.0+ bytes

In [60]:
filtered_data.to_json('C:/Users/bkiranku/AppliedAI/Projects/Web Scraping-MGM Grand/Dynamic-HTML_Web Scraping-MGM Grand.json')

In [61]:
filtered_data.to_csv('C:/Users/bkiranku/AppliedAI/Projects/Web Scraping-MGM Grand/Dynamic-HTML_Web Scraping-MGM Grand.csv')